body {
  font-family: Arial, sans-serif;
  background: #fff;
  text-align: center;
}

.title {
  font-size: 40px;
  margin-top: 40px;
}

.subtitle {
  color: gray;
  margin-bottom: 50px;
}
.search-box {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.search-box input {
  width: 400px;
  padding: 14px 18px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
}

.search-box input:focus {
  border-color: #1e3a8a;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  max-width: 1100px;
  margin: auto;
}

.card {
  text-align: left;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.tag {
  display: inline-block;
  background: #1e3a8a;
  color: white;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 4px;
  margin-top: 10px;
}

.meta {
  color: gray;
  font-size: 13px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  max-width: 1100px;
  margin: auto;
}
.signup {

    background-color: rgb(38, 38, 96);
    width: 400px;
    height: 300px;
    border-radius: 8px;
    text-align: center;
    padding: 30px 30px;
    font-size: large;
}
.paragraph {
  text-align: left;
}
.texts {
  display: flex;
  gap: 50px;
  max-width: 1100px;
  padding: 50px  650px;
  color: rgb(91, 90, 90);
}
.comments {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  max-width: 1600px;
  margin: auto;
  background-color: beige;
  padding: 40px;
}

.comment {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}

.name {
  font-weight: bold;
  font-size: 18px;
}
